.list-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  width: 170px;
  margin: 10px;
  background-color: #1e293b;
  border-radius: 8px;
}

.competing-team-list-item-img {
  height: 60px;
  width: 60px;
}

.competing-team-list-item-name {
  height: 50px;
  font-size: 17px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0px;
}

.competing-team-list-item-result {
  font-size: 15px;
  height: 50px;
  text-align: center;
}

.competing-team-list-item-status {
  font-size: 15px;
  text-align: center;
  height: 20px;
}

.won-text {
  color: #18ed66;
}

.lost-text {
  color: #e31a1a;
}
